<footer class="pb-10 pt-4">
	<div class="mx-auto max-w-7xl px-6 lg:px-10 flex flex-col md:flex-row items-center justify-center gap-2">
		<p class="text-sm text-muted-foreground">
			Relay &nbsp;/&nbsp; Belgium &nbsp;/&nbsp; 2026
		</p>
	</div>
</footer>
